.container {
    margin: auto;
    width: 80%;
    padding: 30px;
    text-align: left;
    line-height: 2em;
}


body {
  counter-reset:section;
  background-color: #F6F6EF;
  font-family: helvetica;
  max-width: 100%;
  margin: 0 auto;
}

header {
  background-color: #F4712D;
  width:100%;
}


article {
  margin: 5px 5px;
}

article a.vote-button {
  color: #8C8C8C;
  text-decoration: none;
  display: inline;
  vertical-align: sub;
}

.thumbs_button {
  padding: 0;
  border: none;
  background: none;
  display: inline;
  margin-right: 3px;
  color: red;
}

.vote_count {
  display: inline-block;
  width: 25px;
  text-align: center;
}
/*article h2 {
  display: inline;
  font-size: 10pt;
}*/

/*article:before {
  counter-increment: section;
  color: #8C8C8C;
  font-size: 10pt;
  content: counter(section) ". ";
}*/

/*article h2 a {
  text-decoration: none;
  color: black;
}
article p {
  color: #8C8C8C;
  font-size: 7pt;
  margin: 3px 30px;
}*/

article p span.points:after {
  content: " points";
}

article p span.username:before {
  content: " by ";
}

article p span.timestamp:after {
  content: ' hours ago';
}

article p span.comment-count:before {
  content: ' | ';
}

article p span.comment-count:after {
  content: ' comments | ';
}

article p a.delete {
  text-decoration: none;
  color: #8C8C8C;
  text-decoration: none;
}

article p a.delete:before {
  content: ' delete this post';

}

form#posts input[type='text'] {
  width: 200px;
  margin-left: 20px;
  font-size: 10pt;
  height: 17px;

}

form#posts input[type='submit'] {
  font-size: 10pt;
  margin-left: 5px;
  border-width: 1px;
  font-weight: bold;
  background-color: #F4712D;
}

.inline {
  display: inline;
}

.upvote-button {
  background-color: transparent;
  border: none;
  padding-top: 5px;
  color: #8C8C8C;
  vertical-align: sub;
  padding: 1px 0px 0px 0px;
}

nav {
  background-color: #333;
}

/*ul.horizontal {
    height: 50px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}*/

li.nav_bar {
  display: inline-block;
  list-style-type: none;
  padding: 15px;
}

li a, a:visited {
  color: #6699ff;
}

ul {
  list-style: none;
}




/*.pipe-separate {
  padding-left: 1em;
  padding-right: 1em;
  border-right: 1px solid;
}
.pipe-separate:first-of-type {
  padding-left: 10;
}
.pipe-separate:last-of-type {
  padding-right: 0;
  border-right: none;
}
.t-black {
  color: #000000;
}*/


/*table, th, td {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-spacing: 10px;
    text-align: left;
    margin-left: 30px;
}
*/
h1 {
  margin-left: 20px;
}

.thumbs {
  letter-spacing: 2px;
}

.nav_links {
  display: inline-block;
  padding:10px;
}
.nav_links:hover {
  color: #FFFFFF;
}
