<% if !logged_in? %>
      <form action="/users/login" method="post">
        <input type="text" name="email" placeholder="e-mail">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value= "Sign in">
      </form>
<% end %>

<div class="empty"></div>